html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  line-height: 1rem;
}

.container {
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

header {
  width: 100%;
  background-color: lightblue;
  text-align: center;
  border: 5px solid black;
}

header p {
  font-size: 4rem;
  margin: 2rem;
}

.middle {
  display: flex;
  flex-direction: column;
}

.middle-left {
  background-color: rgb(192, 138, 192);
  font-size: 1.5rem;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

.middle-left p {
  margin-top: 0.5rem;
}

.item {
  padding-left: 0.25rem;
  margin: 0;
}

.menu-centered {
  text-align: center;
  margin-bottom: 0.75rem;
}

.middle-center {
  background-color: lightpink;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2.5rem;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

.big-content {
  font-size: 3rem;
  text-align: center;
  line-height: 0.25rem;
  margin: 2rem;
}

.middle-right {
  background-color: rgb(192, 138, 192);
  text-align: center;
  font-size: 3rem;
  border-left: 5px solid black;
  border-right: 5px solid black;
  line-height: 0.25rem;
  order: -1;
}

.middle-right p {
  margin-top: 2rem;
}

footer {
  background-color: lightblue;
  width: 100%;
  text-align: center;
  border: 5px solid black;
}

footer p {
  font-size: 4rem;
  margin: 2rem;
}

@media (min-width: 500px) {
  .middle {
    flex-direction: row;
  }

  .middle-right {
    order: 0;
  }
}
