html {
  height: 100%;
  font: 16px / 1 sans-serif;
}

body {
  margin: 0;
  min-height: 100%;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 75vh;
  background-color: rebeccapurple;
  display: flex;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.should-be-first {
  order: -1;
}

.should-be-last {
  order: 1;
}
